body {
    margin: 0px;
    overflow: auto;
}

.container {
    background-image: url('Express.png');
    background-size: cover;
    background-position: center;
    margin-right: 0; 
    margin-bottom: 0; 
    height: 100vh; 
    overflow: hidden;
}



header {
    color: #050000;
    display: flex;
    align-items: center;
    padding: 10px;
}

#expressvpn-logo {
    width: 80px; 
    height: auto; 
    margin-right: 20px;
}

#expressvpn-title {
    color: rgb(220, 53, 53);
    margin-right: 60px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 5;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

ul li:hover{
    color: #179376  ;
  }

h2{
    font-size: 50px;
    line-height: 15mm;
}


.get-started-button {
    background-color: #0b7d62;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    text-align: center;
    color: #000;
    font-size: 50px;
    padding: -10px;
    margin: -70px;
}

.tagline {
    margin-top: -50px; 
    font-size: 40px;
}

.button-container {
    text-align: center;
}

.tagline-button {
    background-color: #0b7d62;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
}


.tagline-button:hover {
    background-color: #ff6600; 
}

.get-started-button:hover{
    background-color:#ff6600;
}


.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: -150px;
}

.info-content {
    font-family:Arial, Helvetica, sans-serif;
    flex: 1;
    text-align: left;
    padding: 20px;
    padding-left: 90px;
    padding-top: -750px;
    line-height: 9mm;
}

.info-image {
    flex: 1;
    text-align: center;
    padding: 200px;
    padding-top: 300px; 
}

.info-image img {
    max-width: 120%;
    height: auto;
}


.info-container {
    flex-direction: row;
}

.info-content {
    flex: 1;
}

.info-image {
    flex:auto;
}


.about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: -150px;
}

.about-image {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.about-image img {
    max-width: 50%;
    height: auto;
}

.internet-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.about-content {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 9mm;
    flex: 1;
    text-align: left;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.about-content h2 {
    font-size: 50px;
    line-height: 1.2;
}

.about-content p {
    font-size: 18px;
}


/* .strong-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
} */
/* 
.strong-image {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strong-image img {
    max-width: 800%; 
    height: 200%;
    width: 70%;
} */

.map-section {
    background-image: url(map.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 500px;
    padding-bottom: 300px;
    padding-left: 200px;
}

.map-image {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-image img {
    max-width: 80%; 
    height: auto;
    width: 200%;
}


.new-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; 
}

.column {
    flex: 1;
    text-align: center;
}

.column img {
    max-width: 70%;
    height: auto;
}

.column p {
    font-size: 16px;
    margin-top: 0px;
}
